# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment variables / API keys
.env
.env.*
backend/.env
frontend/.env

# Build files
dist/
build/

# Logs
*.log

# Editor/system files
.vscode/
.DS_Store